<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.host">ec2-54-217-245-53.eu-west-1.compute.amazonaws.com</property>
        <property name="connection.password">902dd692eff79f3d7c7e88441d82055e1ac41c99a332d9e4524961e8b367547f</property>
        <property name="connection.url">jdbc:postgresql://ec2-54-217-245-53.eu-west-1.compute.amazonaws.com:5432/ddc8e79d2j1m7?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
  		<property name="connection.username">ykdoenwszvadbx</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="current_session_context_class">thread</property>
        
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
 		<property name="show_sql">false</property> 
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="src.game.GameState.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
